<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.peacecorps.pcsa" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.peacecorps.pcsa.reporting.HomeScreen"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.peacecorps.pcsa.reporting.Types"
            android:label="@string/title_activity_types" >
        </activity>
        <activity
            android:name="com.peacecorps.pcsa.reporting.Steps"
            android:label="@string/title_activity_steps" >
        </activity>
        <activity
            android:name="com.peacecorps.pcsa.reporting.FAQ"
            android:label="@string/title_activity_faq" >
        </activity>
        <activity
            android:name="com.peacecorps.pcsa.reporting.Confidentiality"
            android:label="@string/title_activity_confidentiality" >
        </activity>
        <activity
            android:name="com.peacecorps.pcsa.reporting.Resources"
            android:label="@string/title_activity_resources" >
        </activity>
        <activity
            android:name="com.peacecorps.pcsa.reporting.ContactPostStaff"
            android:label="@string/title_activity_contact_post_staff" >
        </activity>
        <activity
            android:name="com.peacecorps.pcsa.reporting.ContactOtherStaff"
            android:label="@string/title_activity_contact_other_staff" >
        </activity>
        <activity
            android:name="com.peacecorps.pcsa.reporting.OtherStaffContent"
            android:label="@string/title_activity_other_staff_content" >
        </activity>
        <activity
            android:name="com.peacecorps.pcsa.circle_of_trust.CircleOfTrust"
            android:label="@string/title_activity_circle_of_trust"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.peacecorps.pcsa.MainActivity" />
        </activity>
        <activity
            android:name="com.peacecorps.pcsa.circle_of_trust.Trustees"
            android:label="@string/title_activity_trustees"
            android:parentActivityName="com.peacecorps.pcsa.circle_of_trust.CircleOfTrust" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.peacecorps.pcsa.circle_of_trust.CircleOfTrust" />
        </activity>
        <activity
            android:name="com.peacecorps.pcsa.circle_of_trust.CircleIntro"
            android:label="@string/title_activity_circle_intro"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.peacecorps.pcsa.MainActivity" />
        </activity>
        <activity
            android:name="com.peacecorps.pcsa.safety_resources.SafetyResources"
            android:label="@string/title_activity_saftey_resources"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.peacecorps.pcsa.MainActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
